# Desafio Final Módulo 3
Bootcamp Engenheiro Machine Learning @ IGTI

Objetivos:
*  Exercitar os seguintes conceitos trabalhados no Módulo

## Importação

In [1]:
import pandas as pd
import numpy as np

from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import uniform
from scipy.stats import randint
from sklearn.metrics import f1_score, make_scorer

In [2]:
ilpd = pd.read_csv('https://www.openml.org/data/get_csv/1590565/phpOJxGL9')

In [11]:
y = np.array(ilpd['Class'])
x = np.array(ilpd.drop('Class', axis=1))

In [6]:
ilpd.head()

   V1      V2    V3   V4   V5  V6   V7   V8   V9   V10  Class
0  65  Female   0.7  0.1  187  16   18  6.8  3.3  0.90      1
1  62    Male  10.9  5.5  699  64  100  7.5  3.2  0.74      1
2  62    Male   7.3  4.1  490  60   68  7.0  3.3  0.89      1
3  58    Male   1.0  0.4  182  14   20  6.8  3.4  1.00      1
4  72    Male   3.9  2.0  195  27   59  7.3  2.4  0.40      1

In [7]:
# mapeando o atributo categórico V2
ilpd['V2'].value_counts()

Male      441
Female    142
Name: V2, dtype: int64

In [8]:
#Convertendo o atributo categórigo da V2 em numérico:
#0 = Male
#1 = Female

name_to_class = {'Male': 0, 'Female': 1}

#substituindo os valores categóricos pelo mapeamento
ilpd['V2'] = ilpd['V2'].map(name_to_class)

#Conferindo a alteração
ilpd.head(5)

   V1  V2    V3   V4   V5  V6   V7   V8   V9   V10  Class
0  65   1   0.7  0.1  187  16   18  6.8  3.3  0.90      1
1  62   0  10.9  5.5  699  64  100  7.5  3.2  0.74      1
2  62   0   7.3  4.1  490  60   68  7.0  3.3  0.89      1
3  58   0   1.0  0.4  182  14   20  6.8  3.4  1.00      1
4  72   0   3.9  2.0  195  27   59  7.3  2.4  0.40      1

## Perguntas

In [3]:
# Sobre as informações de número de features e amostras, marque a alternativa CORRETA.
ilpd.shape

(583, 11)

In [4]:
# Essa base conta com 3 atributos categóricos. Precisamos fazer o pré processamento desses atributos para que todos sejam numéricos.
ilpd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   V1      583 non-null    int64
 1   V2      583 non-null    object
 2   V3      583 non-null    float64
 3   V4      583 non-null    float64
 4   V5      583 non-null    int64
 5   V6      583 non-null    int64
 6   V7      583 non-null    int64
 7   V8      583 non-null    float64
 8   V9      583 non-null    float64
 9   V10     583 non-null    float64
 10  Class   583 non-null    int64
dtypes: float64(5), int64(5), object(1)
memory usage: 50.2+ KB

In [5]:
# A base não tem dados faltantes.
ilpd.isnull().sum()

V1       0
V2       0
V3       0
V4       0
V5       0
V6       0
V7       0
V8       0
V9       0
V10      0
Class    0
dtype: int64

In [34]:
# instanciando o classificador SVC
clf_svc = SVC()

# definindo o tipo de validação cruzada e o número de folds
cv_strat_svc = StratifiedKFold(n_splits=10)

# definindo a estratégia de score a partir da métrica f1
f1_svc = make_scorer(f1_score)

# definindo hiperparâmetros
#hiperparam = dict(kernel = ['sigmoid', 'poly', 'rbf'], C = uniform(loc=1, scale=10))
hiperparam = {'kernel':('sigmoid', 'poly', 'rbf'), 'C':uniform(1, 10)}

# instanciando e modelando o random search com os hiperparametros e a validação definidas.
random_cv_svc = RandomizedSearchCV(clf_svc, hiperparam, cv=cv_strat_svc, scoring=f1_svc, random_state=54, n_iter=5)
random_cv_svc.fit(x, y)

RandomizedSearchCV(cv=StratifiedKFold(n_splits=10, random_state=None, shuffle=False),
                   error_score=nan,
                   estimator=SVC(C=1.0, break_ties=False, cache_size=200,
                                 class_weight=None, coef0=0.0,
                                 decision_function_shape='ovr', degree=3,
                                 gamma='scale', kernel='rbf', max_iter=-1,
                                 probability=False, random_state=None,
                                 shrinking=True, tol=0.001, verbose=False),
                   iid='deprecated', n_iter=5, n_jobs=None,
                   param_distributions={'C': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7f2dccb051d0>,
                                        'kernel': ('sigmoid', 'poly', 'rbf')},
                   pre_dispatch='2*n_jobs', random_state=54, refit=True,
                   return_train_score=False, scoring=make_scorer(f1_score),
                   verbose=0)

In [35]:
#apresentando os melhores resultados encontrados pelo Random Search com o SVC
print('F1:', random_cv_svc.best_score_)
print('\n Melhores hiperparâmetros:', random_cv_svc.best_params_)
print( '\n Melhor modelo: \n', random_cv_svc.best_estimator_)

F1: 0.832818081808181

 Melhores hiperparâmetros: {'C': 5.201829671407738, 'kernel': 'rbf'}

 Melhor modelo:
 SVC(C=5.201829671407738, break_ties=False, cache_size=200, class_weight=None,
    coef0=0.0, decision_function_shape='ovr', degree=3, gamma='scale',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [36]:
#Repetindo usando random forest
clf_rf = RandomForestClassifier(random_state=54)

#definindo o tipo de validação cruzada e o número de folds
cv_strat_rf = StratifiedKFold(n_splits=10)

#definindo a estratégia de score a partir da métrica f1
f1_rf = make_scorer(f1_score)

#Hiperparâmetros
hiperparam1 = {'n_estimators':randint(10, 1000), 'bootstrap': (True, False), 'criterion': ('gini', 'entropy')}

random_cv_rf = RandomizedSearchCV(clf_rf, hiperparam1, cv=cv_strat_rf, scoring=f1_rf, random_state=54, n_iter=5)
random_cv_rf.fit(x, y)

RandomizedSearchCV(cv=StratifiedKFold(n_splits=10, random_state=None, shuffle=False),
                   error_score=nan,
                   estimator=RandomForestClassifier(bootstrap=True,
                                                    ccp_alpha=0.0,
                                                    class_weight=None,
                                                    criterion='gini',
                                                    max_depth=None,
                                                    max_features='auto',
                                                    max_leaf_nodes=None,
                                                    max_samples=None,
                                                    min_impurity_decrease=0.0,
                                                    min_impurity_split=None,
                                                    min_samples_leaf=1,
                                                    min_samples_s...
                                                    random_state=54, verbose=0,
                                                    warm_start=False),
                   iid='deprecated', n_iter=5, n_jobs=None,
                   param_distributions={'bootstrap': (True, False),
                                        'criterion': ('gini', 'entropy'),
                                        'n_estimators': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7f2dc8aef2d0>},
                   pre_dispatch='2*n_jobs', random_state=54, refit=True,
                   return_train_score=False, scoring=make_scorer(f1_score),
                   verbose=0)

In [37]:
#apresentando os melhores resultados encontrados pelo Random Search com o SVC
print('F1:', random_cv_rf.best_score_)
print('\n Melhores hiperparâmetros:', random_cv_rf.best_params_)
print( '\n Melhor modelo: \n', random_cv_rf.best_estimator_)

F1: 0.7953796472310697

 Melhores hiperparâmetros: {'bootstrap': True, 'criterion': 'gini', 'n_estimators': 913}

 Melhor modelo:
 RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=913,
                       n_jobs=None, oob_score=False, random_state=54, verbose=0,
                       warm_start=False)